<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>My Blog</h1></div>
    </div>
        <div class="content">
            <div class="card">
                <h1>{{ post.title }}</h1>
                <h2><em>{{ post.subtitle }}</em></h2>
                <p style="line-height: 1.8">{{ post.body }}</p>
            </div>

    </div>
</div>
</body>
<footer>
    <p>Made with 🔥️</p>
</footer>
</html>